@page "/"

@inject IHttpClientFactory _clientFactory

<table class="header" width ="100%" cellpadding="0" cellspacing="0" border="0" style="min-width: 1000px">
    <tbody>
        <tr>
            <td width="30%">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td height="50" valign="middle">
                                <div class="col-xs-2">
                                    <input class="input-sm" type="text" @bind-value="@searchTerm" placeholder="Search Ticker"/>
                                    <button class="btn btn-outline-info btn-sm" value="Search" @onclick="@Search" >Search</button>
                                </div>
                            </td>
                            <td valign="bottom" style="padding-bottom: 4px">
                                <div id="microbar_position" style="height: 31px"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (optmodel is null)
{
    <div></div>
}
else
{
    var q = optmodel.optionChain.result.FirstOrDefault().quote;
    <div class="content">
        <div class="fv-container">
            <table width="100%" cellpadding="3" cellspacing="0" border="0" class="snapshot-table2">
                <tbody>
                    <tr>
                        <td width="7%" class="snapshot-td2-cp bg-success" align="left">Strike Price(C)</td>
                        <td width="7%" class="snapshot-td2-cp bg-success" align="left">Market Call Price</td>
                        <td width="7%" class="snapshot-td2-cp bg-success" align="left">Statistical Price(C)</td>
                        <td width="7%" class="snapshot-td2-cp bg-success" align="left">Arbitrage</td>
                        <td width="7%" class="snapshot-td2-cp bg-danger" align="left">Strike Price(P)</td>
                        <td width="7%" class="snapshot-td2-cp bg-danger" align="left">Market Put Price</td>
                        <td width="7%" class="snapshot-td2-cp bg-danger" align="left">Statistical Price(P)</td>
                        <td width="7%" class="snapshot-td2-cp bg-danger" align="left">Arbitrage</td>
                    </tr>
                    @foreach (var opt in optmodel.optionChain.result.FirstOrDefault().options.FirstOrDefault().calls.Zip(
                        optmodel.optionChain.result.FirstOrDefault().options.FirstOrDefault().puts, (c, p) => new {C = c, P = p}))
                    {
                        var cOpt = opt.C;
                        var pOpt = opt.P;
                        if (blackScholes(cOpt, q) > 0.001)
                        {
                            <tr class="table-dark-row">
                                <td width="7%" class="snapshot-td2-cp" align="left">@cOpt.strike</td>
                                <td width="7%" class="snapshot-td2-cp" align="left">@cOpt.lastPrice.ToString("N2")</td>
                                <td width="7%" class="snapshot-td2-cp" align="left">@blackScholes(cOpt, q).ToString("N2")</td>
                                <td width="7%" class="snapshot-td2-cp" align="left">@((cOpt.lastPrice - blackScholes(cOpt, q)) > 0.1 * cOpt.lastPrice ? "Yes" : "No")</td>
                                <td width="7%" class="snapshot-td2-cp" align="left">@pOpt.strike</td>
                                <td width="7%" class="snapshot-td2-cp" align="left">@pOpt.lastPrice.ToString("N2")</td>
                                <td width="7%" class="snapshot-td2-cp" align="left">@blackScholes(pOpt, q).ToString("N2")</td>
                                <td width="7%" class="snapshot-td2-cp" align="left">@((pOpt.lastPrice - blackScholes(pOpt, q)) > 0.1 * pOpt.lastPrice ? "Yes" : "No")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    OptionsDataModel optmodel;
    string errorString;
    string searchTerm;

    @* protected override async Task OnInitializedAsync()
        { } *@
    protected async Task Search()
    {
        var client = _clientFactory.CreateClient("options");

        while (true)
        {
            try
            {
                optmodel = await client.GetFromJsonAsync<OptionsDataModel>(searchTerm);
                errorString = null;
                await InvokeAsync(() => StateHasChanged());
            }
            catch (Exception e)
            {
                errorString = $"There was an error: {e.Message}";
            }

            await Task.Delay(20000000);
        }
    }

    protected double normCDF(double x)
    {
        double a1 = 0.254829592;
        double a2 = -0.284496736;
        double a3 = 1.421413741;
        double a4 = -1.453152027;
        double a5 = 1.061405429;
        double p = 0.3275911;

        int sign = 1;
        if (x < 0) sign = -1;

        x = Math.Abs(x) / Math.Sqrt(2.0);

        double t = 1.0 / (1.0 + p * x);
        double y = 1.0 - (((((a5 * t + a4) * t) + a3) * t + a2) * t + a1) * t * Math.Exp(-x * x);

        return 0.5 * (1.0 + sign * y);
        }

    protected double blackScholes(Call c, Quote q)
    {
        double s = q.regularMarketOpen;
        double k = c.strike;
        DateTime dateTime = UnixTimeToDateTime(c.expiration);
        DateTime timeNow = DateTime.Now;
        TimeSpan timeSpan = dateTime - timeNow;
        double t = timeSpan.TotalDays / 365;
        double v = c.impliedVolatility;
        int cp = 1;

        double rf = 0.0135;
        double d1 = (Math.Log(s / k) + (rf + 0.5 * Math.Pow(v, 2)) * t) / (v * Math.Sqrt(t));
        double d2 = d1 - v * Math.Sqrt(t);
        double optPrice = (cp * s * normCDF(cp * d1)) - (cp * k * Math.Exp(-rf * t) * normCDF(cp * d2));

        return optPrice;
    }

    protected double blackScholes(Put p, Quote q)
    {
        double s = q.regularMarketOpen;
        double k = p.strike;
        DateTime dateTime = UnixTimeToDateTime(p.expiration);
        DateTime timeNow = DateTime.Now;
        TimeSpan timeSpan = dateTime - timeNow;
        double t = timeSpan.TotalDays / 365;
        double v = p.impliedVolatility;
        int cp = -1;

        double rf = 0.0135;
        double d1 = (Math.Log(s / k) + (rf + 0.5 * Math.Pow(v, 2)) * t) / (v * Math.Sqrt(t));
        double d2 = d1 - v * Math.Sqrt(t);
        double optPrice = (cp * s * normCDF(cp * d1)) - (cp * k * Math.Exp(-rf * t) * normCDF(cp * d2));
        return optPrice;
    }

    protected DateTime UnixTimeToDateTime(double unixtime)
    {
        System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
        dtDateTime = dtDateTime.AddSeconds(unixtime).ToLocalTime();
        return dtDateTime;
    }
}




@* <tr>
    <td class="search" id="search" style="padding-top: 4px">
        <div>
            <form>
                <input placeholder="Search ticker" type="text" class="" @bind-value="@searchTerm">
                <button class="btn btn-outline-primary my-2 my-sm-0" value="Search" @onclick="@Search">Search</button>
                <span class="fa fa-search"></span></form>
                <table class="suggestions-box" cellpadding="0" cellspacing="0" border="0" style="display: none;">
                    <tbody></tbody>
                </table>
        </div>
    </td>
</tr>  *@